{% extends 'nav.html' %}
{% load static %}
{% block t %}Report{% endblock %}
{% block cont %}
  <div style="margin-right: 30px; margin-left: 30px; margin-top: 50px;">
    <table class="table table-striped">
      <thead>
        <tr>

          <th scope="col">Emp_ID</th>
          <th scope="col">First_Name</th>
          <th scope="col">Last_Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Job_Title</th>
          <th scope="col">Department</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">Zipcode</th>
          <th scope="col">Country</th>
          <th scope="col">Salary</th>
        </tr>
      </thead>
      <tbody>
        {% for rep in report %}
        <tr>
          <th scope="row">{{rep.Emp_ID}}</th>
          <td>{{rep.First_Name}}</td>
          <td>{{rep.Last_Name}}</td>
          <td>{{rep.Email}}</td>
          <td>{{rep.Phone}}</td>
          <td>{{rep.Job_Title}}</td>
          <td>{{rep.Department}}</td>
          <td>{{rep.Address}}</td>
          <td>{{rep.City}}</td>
          <td>{{rep.Zipcode}}</td>
          <td>{{rep.Country}}</td>
          <td>{{rep.Salary}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock %}
